.jumbotrom {
	background-color: yellow;
	color: black;
}

.btn{

	background-color: green;
}

footer {

	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.car-hotel{
	flex: 1 150px;
	padding:  2px 2px 2px 2px;
}

.btn-reserva {
	width: 100%;
}